<h1>Hola, esta es la página de contacto.</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, quis consequatur reiciendis laudantium hic nisi
    voluptate nam omnis consectetur aliquam unde ex vitae tempore ipsa officia dolore. Porro, suscipit atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error optio asperiores placeat itaque velit qui alias
    nesciunt. Omnis architecto accusamus odio qui debitis iste sint, placeat fugiat delectus iusto fuga!
</p>
<p class="h3c">Bloque de Contacto</p>
<div class="normal"></div>